.summary {
    display: flex;
    justify-content: space-between;
    color: hsl(28, 10%, 53%);
    align-items: center;
}

.total {
    text-align: left;
}

.difference {
    text-align: right;
}

.amount {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 1.5rem;
}
.percent {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
}